# Copyright (c) 2022 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if BOARD_MOUSE_BOARD

config BOARD
	default "mouse_board"

config BT_CTLR
   default BT

config USB_DEVICE_VID
    hex
    default "0x1FFE"

config USB_DEVICE_PID
    hex
    default "0x220"

config CONFIG_USB_HID_POLL_INTERVAL_MS  
    int
    default 1

endif
